<html ng-app='drinkRec'>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Drink?</title>
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="drinkRecCtrl">
<div id="prompt" ng-show="showPrompt">
<h3>🍸What do you want in your cocktail?🍸</h3>
<form>
  <p>
  <input id="ingredient_name" ng-model="userInput" placeholder="for example: Gin"></input>
  </p>
  <p>
  <button id ="pickChoice" ng-click="pickDrink()">💯 😄    Yeah, I want something with that    😄 💯</button>
  <button id ="pickAnything" ng-click="pickAnything()">😓    Even that's too much to think about    😓</button>
  </p>
</form>
</div> <!-- end prompt -->
<div id="result" ng-show="showResult">
<div id="answer">
<h5>You should order a</h5><h3>{{selectedDrink.name}}</h3>
</div>
<ul id="ingredients">
  <li ng-repeat="ingredient in selectedDrink.ingredients">
    {{  ingredient.label ? ingredient.label :
        ingredient.special ? ingredient.special :
        ingredient.ingredient }}
  </li>
</ul>
<button id="reroll" ng-click="reRoll()">🎲  Give me something else  🎲</button>
<button id="doover" ng-click="doOver()">😓  Wait, let's just start over  😓</button>
</div> <!-- end result -->
<hr />
<footer>
<p>face-tweet-pin-agram this if you feel like it.</p>
<p>Or not; It's cool.</p>
</footer>

<!-- start logging
<hr />
{{ 'User Input: ' }}
{{ userInput || 'No User Input' }}
<br>
<br>
{{ 'Drink Options: '}}
<br>
<br>
{{ getAllNames() }}
<br>
<br>
<br>
{{ 'Stupid Amount of Data: '}}
<br>
<br>
<br>
{{ getDrinks() || 'Cannot get Drinks' }}

end logging -->

<script src="lib/angular/angular.js"></script>
<script src="lib/ramda/dist/ramda.js"></script>
<script src="lib/jquery/dist/jquery.js"></script>
<script src="app/app.js"></script>
<!-- {{drinkList}}-->
</body>
</html>