body {
  margin: 0 auto;
  width: 95%;
  max-width: 500px;
}

input {
  width: 100%
}

button {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
}

footer {
  text-align: center;
}