body {
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
}

input {
  width: 100%
}

button {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

footer {
  text-align: center;
}

#ingredients {
  margin: 0 auto;
  list-style: none;
  text-align: center;
  background: #EEEEEE;
  padding: 20px;
}

@media (max-width: 767px) {
    body {
      max-width: 250px;
    }
}
